@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
html{
  font-family: 'Roboto', arial, helvetica, sans-serif;
}
.login-div{
  width: 90%;
  height: 500px;
  max-width: 400px ;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0)
}
.register-div{
  width: 90%;
  height: 600px;
  max-width: 400px ;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0)
}
.register-div .form{
  height: 100%;
}
.form{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input{
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
  width: 100%;
}
.contacts{
  box-shadow: 0 0 10px black;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background:rgba(0, 0, 0, 0.6);
}
.inbox{
  box-shadow: 0 0 10px black;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background:rgba(0, 0, 0, 0.6);
}
.msg{
  max-width: 90%;
}